src/is/idega/idegaweb/campus/webservice/nortek/wp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:nortek" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:nortek" xmlns:intf="urn:nortek" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="banCardRequest">

      <wsdl:part name="cardSerialNumber" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addAmountToCardResponse">

      <wsdl:part name="addAmountToCardReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="isCardValidRequest">

      <wsdl:part name="cardSerialNumber" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="addAmountToCardRequest">

      <wsdl:part name="cardSerialNumber" type="soapenc:string"/>

      <wsdl:part name="timestamp" type="xsd:dateTime"/>

      <wsdl:part name="amount" type="xsd:double"/>

      <wsdl:part name="terminal" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="banCardResponse">

      <wsdl:part name="banCardReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="isCardValidResponse">

      <wsdl:part name="isCardValidReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:portType name="NortekService">

      <wsdl:operation name="isCardValid" parameterOrder="cardSerialNumber">

         <wsdl:input message="impl:isCardValidRequest" name="isCardValidRequest"/>

         <wsdl:output message="impl:isCardValidResponse" name="isCardValidResponse"/>

      </wsdl:operation>

      <wsdl:operation name="banCard" parameterOrder="cardSerialNumber">

         <wsdl:input message="impl:banCardRequest" name="banCardRequest"/>

         <wsdl:output message="impl:banCardResponse" name="banCardResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addAmountToCard" parameterOrder="cardSerialNumber timestamp amount terminal">

         <wsdl:input message="impl:addAmountToCardRequest" name="addAmountToCardRequest"/>

         <wsdl:output message="impl:addAmountToCardResponse" name="addAmountToCardResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NortekServiceSoapBinding" type="impl:NortekService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isCardValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isCardValidRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isCardValidResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="banCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="banCardRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="banCardResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAmountToCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAmountToCardRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addAmountToCardResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:nortek" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NortekServiceService">

      <wsdl:port binding="impl:NortekServiceSoapBinding" name="NortekService">

         <wsdlsoap:address location="http://www.campus.is/services/NortekService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
