src/is/idega/block/finance/business/li/xsd/LIUtskra.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="LICommonElements.xsd"></xs:include>
	<xs:element name="LIUtskra">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="seta"></xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="seta" type="seta"></xs:element>
</xs:schema>
