src/is/idega/idegaweb/member/isi/block/accounting/webservice/netbokhald/wp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:netbokhald" xmlns:impl="urn:netbokhald" xmlns:intf="urn:netbokhald" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:netbokhald">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NetbokhaldEntry">
    <sequence>
     <element name="VATAmount" type="xsd:double"/>
     <element name="VATKey" nillable="true" type="soapenc:string"/>
     <element name="accountingKey" nillable="true" type="soapenc:string"/>
     <element name="amount" type="xsd:double"/>
     <element name="customer" nillable="true" type="soapenc:string"/>
     <element name="customerNumber" type="xsd:int"/>
     <element name="dateOfEntry" nillable="true" type="xsd:dateTime"/>
     <element name="invoiceReceiver" nillable="true" type="soapenc:string"/>
     <element name="isVAT" type="xsd:boolean"/>
     <element name="reference" nillable="true" type="soapenc:string"/>
     <element name="serialNumber" nillable="true" type="soapenc:string"/>
     <element name="text" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfNetbokhaldEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:NetbokhaldEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEntriesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="getEntriesRequest1">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEntriesResponse1">

      <wsdl:part name="getEntriesReturn" type="impl:ArrayOfNetbokhaldEntry"/>

   </wsdl:message>

   <wsdl:message name="getEntriesResponse">

      <wsdl:part name="getEntriesReturn" type="impl:ArrayOfNetbokhaldEntry"/>

   </wsdl:message>

   <wsdl:portType name="NetbokhaldService">

      <wsdl:operation name="getEntries" parameterOrder="in0 in1">

         <wsdl:input name="getEntriesRequest" message="impl:getEntriesRequest"/>

         <wsdl:output name="getEntriesResponse" message="impl:getEntriesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getEntries" parameterOrder="in0 in1">

         <wsdl:input name="getEntriesRequest1" message="impl:getEntriesRequest1"/>

         <wsdl:output name="getEntriesResponse1" message="impl:getEntriesResponse1"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NetbokhaldServiceSoapBinding" type="impl:NetbokhaldService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEntriesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:netbokhald"/>

         </wsdl:input>

         <wsdl:output name="getEntriesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:netbokhald"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEntriesRequest1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:netbokhald"/>

         </wsdl:input>

         <wsdl:output name="getEntriesResponse1">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:netbokhald"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NetbokhaldServiceService">

      <wsdl:port name="NetbokhaldService" binding="impl:NetbokhaldServiceSoapBinding">

         <wsdlsoap:address location="http://www.felix.is/services/NetbokhaldService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
